.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 로그인 페이지 스타일 */
.login-form {
  background: white;
  padding: 30px; /* 패딩을 늘려 여유 공간을 확보 */
  border-radius: 8px; /* 모서리를 둥글게 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  width: 350px; /* 폼의 너비를 설정 */
  margin: auto; /* 가운데 정렬 */
  transition: box-shadow 0.3s; /* 마우스 오버 시 애니메이션 효과 */
}

.login-form:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 효과 */
}

.login-form h2 {
  margin-bottom: 20px; /* 제목과 입력 필드 사이의 간격 */
  color: #333; /* 제목 색상 */
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%; /* 입력 필드가 폼의 너비에 맞게 설정 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* 버튼을 폼 너비에 맞게 설정 */
}

.login-form button:hover {
  background-color: #0056b3; /* 버튼 호버 색상 */
}

/* 회원가입 버튼 스타일 */
.register-link {
  margin-top: 10px; /* 로그인 버튼 아래에 공간 추가 */
  font-size: 0.8rem; /* 폰트 크기 줄이기 */
  text-align: left; /* 좌측 정렬 */
  color: #007bff; /* 링크 색상 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.register-link:hover {
  text-decoration: underline; /* 링크에 마우스 오버 시 밑줄 추가 */
}

/* 에러 메시지 스타일 */
.error-message {
  color: red; /* 에러 메시지 색상 */
  margin-bottom: 10px;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
